.home {
  text-decoration: none;
  font-size: 20px;

  color: white;
}
.home:hover {
  color: #dde0e8;
}
.back {
  background-color: #192a2a;

  padding: 10px;
}
.footer-link {
  color: #192a2a;
  padding: 13px;
  margin-left: -10px;
}
p {
  width: 500px;
  color: #666666;
}
.footer-link:hover {
  color: #666666;
}

body {
  background-color: #dde0e8;
}
.container-fluid {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 550px;
  height: 300px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #192a2a;
}
@media (max-width: 1240px) {
  .container-fluid {
    display: inline-block;
    margin: 100px 0px;
    width: 100%;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}
@media (max-width: 570px) {
  .image img {
    width: 420px;
    height: 230px;
  }
  .container-fluid {
    margin: 100px 30px 10px;
    width: 80%;
  }
  p {
    width: 400px;
  }
}
