.home {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.home:hover {
  color: #dde0e8;
}
.back {
  background-color: #192a2a;

  padding: 10px;
}
.footer-link {
  color: #192a2a;
  padding: 13px;
  margin-left: -10px;
}
p {
  max-width: 500px;
  color: #3b3939;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: justify;
}
h3{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.footer-link:hover {
  color: #666666;
}

body {
  background-image: url("images/alyssa-hurley-yekIZ4ltv1o-unsplash.820f518c461e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  max-height: 100vh;
}
.container-fluid {
  position: relative;
  top: 150px;
  max-width: 80%;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.image img {
  max-width: 550px;
  height: 300px;
  display: block;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #192a2a;
}

@media (max-width: 1240px) {
  .container-fluid {
    
    
    display: flex;
    flex-direction: column;
    flex-direction: column;
  }
 
  
}

@media (max-width: 680px) {
  .image img {
    width: 300px;
    height: 200px;
  }
 p{
  max-width: 400px;
 }
 
 
 
}

