.home {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #192a2a;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 20px;
}
.home:hover {
  color: #1f3d90;
}
.back {
  padding: 10px;
  margin: 0 -12px 0;
}
body {
  background-color: #dde0e8;
}
body{
  margin: 0;
  padding: 0;
  background: url('images/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-box{
  margin-top: 80px;
  max-width: 1200px;
  background-color: #111;
  padding: 60px 30px;
}
@media(max-width:1350px){
  .terms-box{
    max-width: 900px;
  }
}
@media(max-width:1050px){
  .terms-box{
    max-width: 500px;
  }
}
@media(max-width:980px){
  .terms-box{
    max-width: 400px;
  }
}
@media(max-width:450px){
  .terms-box{
    max-width: 300px;
  }
}

.terms-text{
  padding: 0 20px;
  height: 400px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 500;
  color: #f1f1f1;
  font-family: sans-serif;
}

.terms-text::-webkit-scrollbar{
  width: 2px;
  background-color: #282828;
}

.terms-text::-webkit-scrollbar-thumb{
  background-color: #d13639;
}

.terms-text h2{
  text-transform: uppercase;
  font-size: 17px;
}

.terms-box h4{
  font-size: 13px;
  text-align: center;
  padding: 0 40px;
}

.terms-box h4 span{
  color: #d13639;
}

.buttons{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.btn{
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: .3s  linear;
  cursor: pointer;
}

.red-btn{
  background-color: #d13639;
}

.gray-btn{
  background-color: #282828;
}

.btn:hover{
  opacity: .6;
}